<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'Casestudies.png' , :alt => 'Indigenius technologies' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Case Studies content here
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %></div>
</div>
