<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'Casestudies.png' , :alt => 'Indigenius CaseStudies' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<h4>Online Examination Frame work</h4>
Expertise in building web based examination frameworks and have managed close to half-a-million online exams till date (Exams includes: BITSAT Mock Test, IIT JEE Mock Test, EAMCET Mock Test and BSNL JTO Mock Test)
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %></div>
</div>
