#header { width: 950px; margin: 0 auto; }
#header-inner { float: left; margin-right: 10px; margin-right: 0; width: 950px; margin: 0; }
#menu { width: 950px; margin: 0 auto; }
#menu-inner { float: left; margin-right: 10px; margin-right: 0; width: 950px; margin: 0; }
#content { width: 950px; margin: 0 auto; }
#content-inner { float: left; margin-right: 10px; margin-right: 0; width: 950px; margin: 0; } 
