<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius IT Solutions Pvt Ltd is a young and dynamic software development company based out of Hyderabad, India.Indigenius specializes in the implementation of MS SharePoint applications enabling enterprise wide collaboration and communication, web application development using open-source frameworks like Ruby on Rails, Outsourced product development, and work flow based enterprise applications for small and medium industries. Managed by experienced industry professionals, Indigenius has emerged as one of the trusted IT partner providing software solutions; a testimony to this is the long and the impressive list of clientele.</div>
<div id="container-right">
<%= render 'form' %>
</div>
</div>
