<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'careers.png' , :alt => 'Indigenius Careers' , :title => 'Indigenius' %>
  </div>
</div>
<div id='container'>
  <div id='container-left'>
IndiGenius Solutions<br />
Plot No. 844, Flat No. 303, 3rd floor, Srivatsam,<br />
Road No. 44, Jubilee Hills, Hyderabad - 500 033, INDIA<br />
Phone Number : <br />
(+91) 40 64599776<br />
Mobile No : <br />
(+91) 99084 99000<br />
Write us an e-mail at:<br />
info@indigenius.com
</div>
<div id="container-right">
<%= render 'form' %></div>
</div>
