<div id="banner">
 <div id="banner-inner">
  <%= image_tag 'Disclaimer.png' , :alt => 'Indigenius Disclaimer' , :title => 'Indigenius' %>
 </div>
</div>
<div id="container">
<div id="container-left">
The website is only a conceptual presentation and not a legal offering. The developer reserves the right for any deletion / addition in plans / specifications and elevations.
Details are subject to change and all optional amenities other than the standard specifications are at extra cost.
<h3 style="color:#8B0A50">WARNING:</h3>
Computer viruses can be transmitted via email. The recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email. </div>
</div>
<div id="container-right">
<%= render 'form' %></div></div>
