<div id="banner">
<div id="banner-inner">
<%= image_tag 'services.png' %>
</div></div>
<div id="container">
<div id="container-left">
<h2 align="center">Thank You</h2></div>
<div id="container-right">
<%= render 'form' %></div>
</div>
