<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'privacy_policy.png' , :alt => 'Indigenius Careers' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
This site contains links to other sites. Text 100 Public Relations. Is not responsible for the privacy practices<br /> or the content of such Web sites.<br />

This site gives users the following options for removing their information from our database to not receive future<br /> communications. <br />
</div>
<div id="container-right">
<%= render 'form' %></div>
</div>
