<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'sitemap.png' , :alt => 'Indigenius Careers' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<h2>Sitemap Content Here</h2>
</div>
<div id="container-right">
<%= render 'form' %></div>
</div>

