<h4>Relevant Links</h4>
<%= link_to 'Why Indigenius' , aboutus_why_indigenius_path %><br />
<%= link_to 'Our Story' , aboutus_our_story_path %><br />
<%= link_to 'Clientele' , aboutus_clientele_path %><br />
<%= link_to 'Our Commitment to Clients' , aboutus_commitment_path %>
