<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius has an enviable customer base from a variety of industries. Our customer centric practices have bestowed us recurring business from the existing clients. The following is the partial client list of Indigenius IT Solutions
<br /><br />
Napier Healthcare (MS SharePoint Portal) | Napier Intranet Portal is meant to be the primary collaboration and content sharing mechanism with the following features:<br /><br />
. Rich Enterprise business collaboration platform for effective communication and collaboration.<br />
. A platform for sharing information and learning.<br />
. Centralized repository for Document Management with versioning control.</br />
. Enterprise Search.<br />
. Rich Team Sites for HR, Marketing, Finance, Admin, Quality, IIS, Audit, Sales and Pre Sales.<br />
. Customized Work flows for HR Activities, Marketing Business processes, Sales and Pre Sales Workflows,<br />
. Auditing process automation etc.<br />
. Personalized “My Site” to each and every employee.<br />
. Access Control to Users and Groups at different levels.<br />
. End-end workflow implementation & customization.<br />
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %>
</div></div>
