<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius Solutions adhere to the following commitments:<br /><br />

<h3>Delivering high quality value</h3>
A lot more can be achieved within IT budgets as a result of Indigenius’ extremely competitive cost structure, made possible through its resource center in India. This cost advantage with an effective mixture of quality delivers value to our clients and their business.<br /><br />

<h3>Delivering value to you</h3>
IndiGenius ensures that the solution perfectly complements existing business strategies, practices, structures and vision, thereby ensuring that you receive solutions that are tailor made for your business scenario.<br /><br />

<h3>Delivering value through processes</h3>
IndiGenius has a management team with a vision to be an ISO 9001 company to clearly define the processes and follow them stringently for the advantage of our clients. A CMM certification lined up in the near future, IndiGenius’ systems and processes are based on the day to day experiences and involvement of each and everyone of the team and continuously evolving with every engagement.
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %>
</div></div>
