<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
IndiGenius Solutions is here to provide you with an effective web strategy for your organization, to partner with you in understanding your industry-business scenario, suggest innovative solutions to your organization and most importantly e-enable your enterprise with your partners globally.
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %>
</div></div>
