<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<h4>Innovative</h4>
we are Innovative in our ideas and solutions to our clients. We at IndiGenius imbibe innovativeness in every realm of life. Innovation – the successful exploitation of new ideas – incorporating new technologies, design and best practice is the key business process that enables IndiGenius to compete effectively in the global environment.
<br /><br />
<h4>Genuine</h4>
we are genuine in providing the best solutions that fits the customer needs and enhance the value of their business. We believe in studying the customers' business, understand their requirement, suggest an effective model and implement the solution so as to fulfill their growth objective. This genuineness made us much closer to the hearts of our customers.
<br /><br />
<h4>Simple</h4>
we are simple in our practices. We follow the simplest norms of business to add value proposition to the solutions we provide. IndiGenius is an 'act simple and smart' solution provider
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %>
</div></div>
