<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'aboutus.png' , :alt => 'About Indigenius' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
<h4>IndiGenius’ Team believes in the following –</h4>
“This above all: to thine own self be true; and it must follow, as the night the day; Thou canst not then be false to any man” - William Shakespeare<br /><br />

We, at IndiGenius, thoroughly understand customer’s business needs and convert them into the web arena using the latest technology platforms. Our solutions fit in organizations’ growth plans and help our clients achieve their goals and targets. IndiGenius helps customers in deciding what is best, given organization’s constraints on cost, scope and schedules. Our solutions help our Customers stay ahead - be it with respect to competition or quality of internal service delivery. All our existing clients stand testimonial for our passionate efforts towards their satisfaction.
</div>
<div id="container-right">
<%= render 'form' %>
<%= render 'home/form' %>
</div></div>
