<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
IndiGenius offers innovative and simple solutions for your requirements. We constantly experiment with new<br />
technologies to bring the best of the solutions to you.Indigenius IT Solutions Pvt Ltd is a young and dynamic <br />
software development company based out of Hyderabad, India. 
</div>
<%= render 'form' %>
</div>
