<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius provides custom built applications to clients using popular and tested Open Source Technology stacks. Indigenius extensively works on customizing open source applications to meet clients need. Indigenius performs extensive research to identify the best open source application that suits client’s business needs. 
</div>
<%= render 'form' %>
</div>

