<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius Solutions have developed enterprise grade products for various domains. Most successful products developed by IndiGenius are:
Bullet 	Web-based Assessment Engine (Education & HR Domain)
Bullet 	Biometric Enabled Volunteer Management (Clinical Research)
</div>
<%= render 'form' %>
</div>
