<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
EMC: Indigenius provides Storage, Security, Virtualisation, Back up & Recovery Solutions from EMC Corporation. We are value added resellers for EMC in India. 
Cisco:  Indigenius provides networking solutions from Cisco to clients in India.   
</div>
<%= render 'form' %>
</div>
