<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
MS SharePoint is the fastest growing product from Microsoft stable. It holds leadership position in the multiple<br /> workloads it offers under one umbrella. Following the success of SharePoint 2007, Microsoft released SharePoint<br />
 2010 with a host of functionalities that makes it compelling for enterprise-wide adoption. 
</div>
<%= render 'form' %>
</div>
