<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Team Indigenius has many man-years of experience in providing contingent workforce management services and exceeding client expectations through highly effective processes for recruiting, screening, testing, and consultant management. Over the years, Indigenius team has formulated strategies, processes - enabling the sourcing engine to mature into one of the reliable partner. 
</div>
<%= render 'form' %>
</div>
