<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'services.png' , :alt => 'Indigenius services' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Indigenius undertakes web portal design and development services which includes e-strategy consulting and technology roadmap creation. Indigenius develops robust, smart and efficient web application in Ruby on Rails
</div>
<%= render 'form' %>
</div>
