<div id='banner'>
  <div id='banner-inner'>
      <%= image_tag 'technology.png' , :alt => 'Indigenius technologies' , :title => 'Indigenius' %>
  </div>
</div>
<div id="container">
<div id="container-left">
Technologis content here
</div>
<div id="container-right">
<%= render 'home/form' %></div>
</div>
