<h4>Relevant Links</h4>
<%= link_to 'Content Manage' , solutions_content_manage_path  %><br/>
<%= link_to 'Test Genius' , solutions_test_genius_path %><br />
<%= link_to 'Equilab' , solutions_equilab_path %><br />
