<div id='content'>
  <div id='content-inner'>

 <b>Clients Word : </b>
 <%= @testimonial.clientword %>


<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %></div></div>
